@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

// Set your brand colors
$purple: #8A4D76;
$green: #19ff19;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $green;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// Import only what you need from Bulma
@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/elements/button.sass";
@import "node_modules/bulma/sass/elements/container.sass";
@import "node_modules/bulma/sass/elements/title.sass";
@import "node_modules/bulma/sass/form/_all.sass";
@import "node_modules/bulma/sass/components/navbar.sass";
@import "node_modules/bulma/sass/layout/hero.sass";
@import "node_modules/bulma/sass/layout/section.sass";

#title {
    font-family: 'Press Start 2P', cursive!important;
}

.ctf-title {
    letter-spacing: 0.25vmax;
    transition: all 1s ease;
    &:hover {
        color: $green!important;
    }
}

a{
    color: $beige-lighter!important;
    transition: all 0.5s ease;
    &:hover {
        color: $green!important;
    }
}

#nav {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    .navbar {
        background-color: black;
        .navbar-menu {
            background-color: black;
            .navbar-item {
                background-color: black;
            }
        }
    }
}

.hero-foot {
    padding: 2.5rem;
    z-index: 100;
    position: relative;
    .join {
        letter-spacing: 0.25vmax;
    }
    .zerothree {
        font-family: 'Press Start 2P', cursive!important;
        transition: all 1s ease;
        &:hover {
            color: $green;
        }
    }
}

.footer {
    font-family: 'Press Start 2P', cursive;
    position: relative;
    z-index: 1;
    padding: 0.25rem;
    .container {
        padding: 0.5rem;
        align-self: center;
    }

    a {
        color: white;

        &:hover {
            color: $green !important;
        }

        &:active {
            color: $pink !important;
        }
    }
}

#copyright{
    padding: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

#bgvid {
    position: absolute;
    z-index: 0;
    background-size: cover;
    background-position: center;
    transform: scale(3);
}

.hero-video {
    opacity: 0.25;
    z-index: 1;
}

#hero {
    position: relative;
    z-index: 3;
    margin-top: 1.5rem; 
    .title {
        font-family: 'Press Start 2P', cursive !important;
        letter-spacing: 0.15vmax;
    }
}

#hero-main {
    z-index: 0;
    background-image: url(https://raw.githubusercontent.com/dc-9111/website/master/images/DSC07751.JPG);
    position: absolute;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}